{# This is the leaf template #}
{# This is for EVPN #}

service routing protocols model multi-agent

{# This section is static, no need to modify#}

ip prefix-list LOOPBACK
    seq 10 permit 10.1.0.0/24 eq 32
    seq 20 permit 10.1.1.0/24 eq 32
    seq 30 permit 10.2.0.0/24 eq 32
    seq 40 permit 10.2.1.0/24 eq 32

peer-filter SPINE-AS-RANGE
  10 match as-range 65000-65535 result accept

route-map LOOPBACK permit 10
   match ip address prefix-list LOOPBACK

{# Pull the ASN and router-id from the underlay.yml file #}

router bgp {{ underlay[inventory_hostname]['BGP']['ASN'] }}
   router-id {{ underlay[inventory_hostname]['interfaces']['loopback0']['ipv4']}}
   no bgp default ipv4-unicast
   maximum-paths 3
   distance bgp 20 200 200

{# This is the connection to the spines#}

   neighbor SPINE_Underlay peer group  
   neighbor SPINE_Underlay remote-as {{ underlay[inventory_hostname]['BGP']['spine-ASN'] }}
   neighbor SPINE_Underlay send-community
   neighbor SPINE_Underlay maximum-routes 12000

{# This is overlay to the spines#}
{# no bgp listen range 10.0.0.0/8 peer-group EVPN_OVERLAY peer-filter SPINE-AS-RANGE #}
   neighbor EVPN_OVERLAY peer group
   neighbor EVPN_OVERLAY remote-as {{ underlay[inventory_hostname]['BGP']['spine-ASN'] }}
   neighbor EVPN_OVERLAY update-source Loopback0
   neighbor EVPN_OVERLAY ebgp-multihop
   neighbor EVPN_OVERLAY send-community
   neighbor EVPN_OVERLAY maximum-routes 12000
   neighbor 10.2.0.101 peer group EVPN_OVERLAY
   neighbor 10.2.0.102 peer group EVPN_OVERLAY
   neighbor 10.2.0.103 peer group EVPN_OVERLAY

{# This is the connection to the leaf peer #}

   neighbor LEAF_Peer peer group
   neighbor LEAF_Peer remote-as {{ underlay[inventory_hostname]['BGP']['ASN'] }}
   neighbor LEAF_Peer next-hop-self
   neighbor LEAF_Peer maximum-routes 12000


{# This must be a loop, preferably a "for" loop, to put the neighbor relationships in #}

{% for peer in underlay[inventory_hostname]['BGP']['spine-peers'] %}
   neighbor {{ peer }} peer group SPINE_Underlay
{% endfor %}

{# This is a conditional (if statements), if the switch is "Odd" the neighbor is 192.168.255.2, if it's even the neighbor is 192.168.255.1 #}
   {#   neighbor 192.168.255.2 peer group LEAF_Peer #}
   {#.  neighbor 192.168.255.1 peer group LEAF_Peer #}

{% if underlay[inventory_hostname]['MLAG'] == "Odd" %}
   neighbor 192.168.255.2 peer group LEAF_Peer
   {% else %}
   neighbor 192.168.255.1 peer group LEAF_Peer
{% endif %}

{# This part is static and you don't need to change #}
   
   redistribute connected route-map LOOPBACK
   address-family ipv4
     neighbor SPINE_Underlay activate
     neighbor LEAF_Peer activate
     no neighbor EVPN_OVERLAY activate
     redistribute connected route-map LOOPBACK
   !  
   address-family evpn
      bgp next-hop-unchanged
      neighbor EVPN_OVERLAY activate
   !

{# This is leaf MLAG Part #}

no spanning-tree vlan-id 4094

vlan 4094
  trunk group MLAG-Peer
  
interface e1
  channel-group 10 mode active
interface e2  
  channel-group 10 mode active

interface vlan 4094
  {% if underlay[inventory_hostname]['MLAG'] == "Odd" %}
     ip address 192.168.255.1/30
     {% else %}
     ip address 192.168.255.2/30
  {% endif %}
  no autostate
  
interface po10
  description MLAG Peer Link
  switchport mode trunk
  switchport trunk group MLAG-Peer
  
mlag configuration 
  domain-id MLAG
  local-interface Vlan4094
{% if underlay[inventory_hostname]['MLAG'] == "Odd" %}
   peer-address 192.168.255.2
   {% else %}
   peer-address 192.168.255.1
{% endif %}
  peer-link port-channel10
